/* @import "tailwindcss"; */

.font_tight {
	letter-spacing: 0.1px;
}

.font_loose {
	letter-spacing: 10px;
}
/* 
.test{
	@apply text-app_light_gray text-center font-light text-14 ;
	letter-spacing: 10px;
} */

#__next {
	height: 100%;
}

#map {
	height: 100%;
}